<h2>All Patterns</h2>

{{#each foundPatterns}}

   <h2>{{name}}</h2>
    
    <p>Title: {{title}}</p>
    <p>Level: {{level}}</p>
    <p>Type: {{type}}</p>
    <p>Yarn Type: {{yarn}}</p>
    <p>Hook needed: {{hookneeded}}</p>
    <p>Type: {{type}}</p>
    <a href="/resources/findpatterns/{{_id}}">See details</a>

{{/each}}