<h2>Pattern Details</h2>
    <h2>{{title}}</h2>
    
    <p>Level: {{level}}</p>
    <p>Type: {{type}}</p>
    <p>Yarn Type: {{yarnType}}</p>
    <p>Pattern Link: {{patternLink}}</p>


<div class="pattern-image">
    <object class ="cloud-img" data="{{image}}">
    <iframe id="pdf" src="{{image}}" >
    It looks like the browser you are using does not support PDFs.
    </iframe>
    </object>
    <br>
    </div>
</div>