<h2>Pattern Details</h2>
    <h2>{{title}}</h2>
    
    <p>Level: {{level}}</p>
    <p>Type: {{type}}</p>
    <p>Yarn Type: {{yarnType}}</p>
    <p>Pattern Link: {{patternLink}}</p>


<a href="/members/editPattern/{{_id}}"><button>Edit</button></a>

<a href="/members/deletePattern/{{_id}}"><button>Delete</button></a>
